<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="./assets/aboutPic1.png"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
          <div class="text-container">
            <h2 class="title">The SHOP</h2>
            <p>
                DOCTOR VINYL, situated in the heart of Brussels, stands as one of the pioneering vinyl shops in Belgium, specialized in electronic music. 
                A beacon for electronic music enthusiasts, our small and cozy shop is a haven for those seeking the authentic warm analog sounds.
                At Doctor Vinyl, we pride ourselves on curating a collection of used and occasionaly new vinyl that is meticulously organized and carefully selected. 
                As explorers of fresh grooves, we offer a diverse array of subcategories within electronic music, including House, Techno, D&B, Nu Beat, Industrial, experimental, and everything in between.
                Our shop is not just a place to buy vinyl; it's a space where music lovers come together to share their passion. 
                Our friendly and knowledgeable staff are here to guide you and ensuring that each visit is a unique and enriching experience.
                As one of the first establishments of its kind in Belgium, Doctor Vinyl has become a cornerstone in the cultural tapestry of Brussels. 
                Step into our world, where the crackle of vinyl and the pulse of electronic beats merge to create an unforgettable a shopping experience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
  </div>
</div>
</section>
