<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="./assets/aboutPic1.png"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
          <div class="text-container">
            <h2 class="title">The SHOP</h2>
            <p>
                DOCTOR VINYL, situated in the heart of Brussels, stands as one of the pioneering vinyl shops in Belgium, specialized in electronic music. 
                A beacon for electronic music enthusiasts, our small and cozy shop is a haven for those seeking the authentic warm analog sounds.
                At Doctor Vinyl, we pride ourselves on curating a collection of used and occasionaly new vinyl that is meticulously organized and carefully selected. 
                As explorers of fresh grooves, we offer a diverse array of subcategories within electronic music, including House, Techno, D&B, Nu Beat, Industrial, experimental, and everything in between.
                Our shop is not just a place to buy vinyl; it's a space where music lovers come together to share their passion. 
                Our friendly and knowledgeable staff are here to guide you and ensuring that each visit is a unique and enriching experience.
                As one of the first establishments of its kind in Belgium, Doctor Vinyl has become a cornerstone in the cultural tapestry of Brussels. 
                Step into our world, where the crackle of vinyl and the pulse of electronic beats merge to create an unforgettable a shopping experience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <iframe class="map"
        width="400"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1259.5463361930722!2d4.346065334433781!3d50.847968148017415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4780f8fe851%3A0x23ec135b89f76936!2sDoctor%20Vinyl!5e0!3m2!1sen!2sbe!4v1700654299433!5m2!1sen!2sbe" allowfullscreen>
      </iframe>
      <div class="time-container time">
      <p>Open:</p>
      <p>Mon - Tue: 12:00 - 19:30</p>
      <p>Wed - Thu: 12:00 - 20:30</p>
      <p>Fri - Sat: 12:00 - 19:30</p>
    </div>
  </div>
</div>
</section>
