<header>
  <!-- NavBar -->
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top"
  >
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold" href="#">
        <img
          src="assets\Logo-DV1.png"
          style="width: 100px; height: 100px; margin-right: 20px"
        />
        <span class="textBlur">Doctor Vinyl records</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!--Toggle  -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-semibold text-uppercase me-1 text-black"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              home
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Vinyl</a></li>
              <li>
                <a class="dropdown-item" href="#" routerLink="gear">Gear</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" routerLink="about">About</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" routerLink="contact"
                  >Contact</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vinyl
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">New Arrivals</a></li>
              <li><a class="dropdown-item" href="#">Best Sellers</a></li>
              <li><a class="dropdown-item" href="#">Sales</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-semibold text-uppercase text-black me-1"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Gear
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#" routerLink="gear">DJ-Gear</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" routerLink="accessories">Accessories</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-semibold text-uppercase text-black me-1"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="about">The SHOP</a></li>
              <li>
                <a class="dropdown-item" routerLink="discography"
                  >Discography</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-semibold text-uppercase text-black me-1"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >Login/Register</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li>
                <a class="dropdown-item" routerLink="/register">Register</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase text-black me-1"
              routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <form action="" method="get" style="display: flex; height: 1.8rem;" >
              <input type="text"  placeholder="Search Vinyl..." />
              <a class="nav-link" href="#" enter>
                <i class="fa fa-search fs-5" style="color: #202122" onclick="search"></i>
              </a>
            </form>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-black me-1"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-shopping-basket fs-5" style="color: #202122" ></i>
              <span
                class="position-absolute translate-middle badge rounded-pill bg-NOT-Danger"
              >
                {{ cartProducts.length }}
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="CartContainer">
                <div class="row">
                  <div class="col-6">
                    <a class="btn" routerLink="/cart" style="cursor: pointer;">
                      Cart
                    </a>
                  </div>
                  <div class="col-6 text-end text-danger">Remove All</div>
                </div>
                <div class="row pt-1" *ngFor="let cart of cartProducts">
                  <div class="col-4">
                    <img
                      class="img-fluid"
                      style="height: 30px; border-radius: 50%"
                      [src]=""
                      class="card-img-top"
                    />
                  </div>
                  <div class="col-3">
                    {{ cart }}
                  </div>
                  <div class="col-2">
                    {{ cart + 1 }}
                  </div>
                  <div class="col-2 text-end">
                    {{ cart }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-9">
                    <hr />
                  </div>
                </div>

                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-2"></div>
                  <div class="col-4">
                    <div class="Subtotal">Sub-Total</div>
                    <div><small> 255 items</small></div>
                  </div>
                  <!-- <div class="col-4 text-end">
                    <strong> €{{ subTotal }}</strong>
                  </div> -->
                </div>
                <div class="">
                  <div class="col-12 text-end">
                    <!--<button class="btn btn-sm btn-success" (click)="redirectToSale()">Checkout</button>-->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<section id="product">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="col-6 text-end">
      <img
        class="pointer"
        src="assets\Admin.png"
        style="width: 50px; height: 50px; margin-left: 20px"
        routerLink="add-product"
      />
    </div>
  </footer>
</section>
