<body>
    <div class="signin">
      <div class="back-img" >
  
        <div class="sign-in-text">
          <h2 class="active">Add Product</h2>
        </div><!--/.sign-in-text-->
        <div class="blackbackground">
        </div><!--/.blackbackground-->
        <p class="point">&#9650;</p>
      </div><!--/.back-img-->
      <div class="form-section">
       
        <form action="#">
          <!-- Username -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="userName" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Artist</label>
          </div>
          <br/>
          <!--  -->  
          <!--Email-->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Title</label>
          </div>
          <br/>
          <!-- Name -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Label</label>
          </div>
          <br/>
          <!-- Fam name -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Cat. Nr</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Label</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Country</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Category</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Released</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Format</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Best Seller</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- tracklist</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Price</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Status</label>
          </div>
          <br/>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">- Quantity</label>
          </div>
          <br/>
          </form>
      </div><!--/.form-section-->
      
      <button class="sign-in-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">
        Add to stock
      </button><!--/button-->
   </div><!--/.signin-->
  </body>

