<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
      <div class="section-container">
        <img
            src="./assets/Logo-DV1.png"
            alt="Profile picture"
            class="about-pic"
          />
          <div class="text-container">
            <h2 class="title">Discography</h2>
            <p>
            list of our own inhouse releases by Doctor Vinyl and its friends.
            They are also available in our own store on vinyl with a free 320MP3 download slip.
            This means you can enjoy your favorite tracks wherever you go, seamlessly transitioning between the analog richness of vinyl and the convenience of digital music.
            </p>
            <p>
              ADD TEXT AND TEXT AND TEXT AAAAAAAAND TEEEEEEEXT1111
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="own-rec-section">
        <p class="songtitle">Raw Tracks for Smooth People</p>
        <div class="project-pic-container">
            <img
              src="./assets/RawTracksFSP.png"
              alt=""
              class="project-img"
            />
          </div> 
        <div class="btn-container">
            <!--Gewoon veranderen LINKS-->
            <a href="https://www.discogs.com/master/356257-VA-Raw-Tracks-For-Smooth-People" target="_blank">
              <button class="btn btn-container">Discogs</button>
            </a>
            <a href="https://www.discogs.com/" target="_blank">
              <button class="btn btn-container">iTunes</button>
            </a>
          </div>
    </div>
    <div>
    </div>
    <div class="own-rec-section">
      <p class="songtitle">An Invitation To The Dance EP</p>
      <div class="project-pic-container">
          <img
            src="./assets/PeruEP.png"
            alt=""
            class="project-img"
          />
        </div> 
      <div class="btn-container">
          <!--Gewoon veranderen LINKS-->
          <a href="https://www.discogs.com/master/356257-VA-Raw-Tracks-For-Smooth-People" target="_blank">
            <button class="btn btn-container">Discogs</button>
          </a>
          <a href="https://www.discogs.com/" target="_blank">
            <button class="btn btn-container">iTunes</button>
          </a>
        </div>
  </div>
  <div class="own-rec-section">
    <p class="songtitle">An Invitation To The Dance EP</p>
    <div class="project-pic-container">
        <img
          src="./assets/AnInvitationTTDEP.png"
          alt=""
          class="project-img"
        />
      </div> 
    <div class="btn-container">
        <!--Gewoon veranderen LINKS-->
        <a href="https://www.discogs.com/release/2796171-John-Bon-Godass-versus-Bagarre-An-Invitation-To-The-Dance-EP" target="_blank">
          <button class="btn btn-container">Discogs</button>
        </a>
        <a href="https://www.discogs.com/" target="_blank">
          <button class="btn btn-container">iTunes</button>
        </a>
      </div>
</div>
</div>
</section>
